body {
	background-color: #f0fff0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-left: 5%;
	margin-right: 5%;
}

.resume-head {
	font-weight: bold;
}

.resume-list {
	font-style: italic;
}

#profile-pic{
  max-width: 300px;
}