#tagline:before {
    content: "Data Science Specialist at Tufts University";
    -webkit-animation: tagline 30s infinite;
            animation: tagline 30s infinite;
}

@-webkit-keyframes tagline {
    0% {opacity: 1;}
    15% {opacity: 1;}
    19.99% {opacity: 0; content: "Data Science Specialist at Tufts University"}
    20% {opacity: 0; content: "Transportation nerd and remote sensing enthusiast";}
    20.01% {opacity: 0;}
    25% {opacity: 1;}
    40% {opacity: 1;}
    44.99% {opacity: 0; content: "Transportation nerd and remote sensing enthusiast"}
    45% {opacity: 0; content: "Passionate teacher of computational methods";}
    45.01% {opacity: 0;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    69.99% {opacity: 0; content: "Passionate teacher of computational methods"}
    70% {opacity: 0; content: "Easily excitable by dogs and spatiotemporal analysis";}
    70.01% {opacity: 0;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    94.99% {opacity: 0; content: "Easily excitable by dogs and spatiotemporal analysis"}
    95% {opacity: 0; content: "Data Science Specialist at Tufts University";}
    95.01% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes tagline {
    0% {opacity: 1;}
    15% {opacity: 1;}
    19.99% {opacity: 0; content: "Data Science Specialist at Tufts University"}
    20% {opacity: 0; content: "Transportation nerd and remote sensing enthusiast";}
    20.01% {opacity: 0;}
    25% {opacity: 1;}
    40% {opacity: 1;}
    44.99% {opacity: 0; content: "Transportation nerd and remote sensing enthusiast"}
    45% {opacity: 0; content: "Passionate teacher of computational methods";}
    45.01% {opacity: 0;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    69.99% {opacity: 0; content: "Passionate teacher of computational methods"}
    70% {opacity: 0; content: "Easily excitable by dogs and spatiotemporal analysis";}
    70.01% {opacity: 0;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    94.99% {opacity: 0; content: "Easily excitable by dogs and spatiotemporal analysis"}
    95% {opacity: 0; content: "Data Science Specialist at Tufts University";}
    95.01% {opacity: 0;}
    100% {opacity: 1;}
}
