#tagline:before {
    content: "Developing full-stack developer";
    animation: tagline 30s infinite;
}

@keyframes tagline {
    0% {opacity: 1;}
    15% {opacity: 1;}
    19.99% {opacity: 0; content: "Developing full-stack developer"}
    20% {opacity: 0; content: "Urban planning enthusiast";}
    20.01% {opacity: 0;}
    25% {opacity: 1;}
    40% {opacity: 1;}
    44.99% {opacity: 0; content: "Urban planning enthusiast"}
    45% {opacity: 0; content: "Evolving geospatial analyst";}
    45.01% {opacity: 0;}
    50% {opacity: 1;}
    65% {opacity: 1;}
    69.99% {opacity: 0; content: "Evolving geospatial analyst"}
    70% {opacity: 0; content: "Always seeking new adventures";}
    70.01% {opacity: 0;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    94.99% {opacity: 0; content: "Always seeking new adventures"}
    95% {opacity: 0; content: "Developing full-stack developer";}
    95.01% {opacity: 0;}
    100% {opacity: 1;}
}