html {
    font-size: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body, main, ul, main a, footer, #social li, #source, #edit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
    align-content: center;
}

footer {
    justify-content: space-between;
    width: 70vw;
}

h1 {
    font-weight: bold;
    font-size: 17.5vw
}

#tagline {
    font-size: 7.5vw;
}

main a  {
    border-radius: 10%;
    height: 30vw;
    width: 30vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 7.5vw;
    border: 0.1em solid;
}

main .icon {
    font-size: 15vw;
}

#edit {
    cursor: pointer;
}

#social li, #source, #edit {
    height: 10vw;
    width: 10vw;
}

div .icon {
    font-size: 7.5vw;
}

div .icon:hover {
    font-size: 10vw;
}

h1, #tagline, nav {
    margin-bottom: 2.5vw;
}


@media (min-width: 400px) {
    
    main {
        width: 25em;
        height: 10em;
    }

    h1 {
        font-size: 2.5em;
    }
    
    #tagline {
        font-size: 1em;
    }

    main a  {
        border-radius: 10%;
        height: 4em;
        width: 4em;
        padding: 0.25em;
        margin: 0.25em;
        font-size: 1em;
    }

    main .icon {
        font-size: 2em;
    }
    
    h1, #tagline {
        padding-bottom: 2.5%;
    }
    
    h1, #tagline, nav {
        margin-bottom: auto;
    }

    #social li, #source, #edit {
        height: 1.75em;
        width: 1.75em;
    }

    #edit, #source, #social {
        position: fixed;
    }

    #edit {
        top: 1em;
        left: 1em;
    }

    #source {
        bottom: 1em;
        left: 1em;
    }

    #social {
        bottom: 1em;
        right: 1em;
    }

    div .icon {
        font-size: 1.5em;
    }
        
    div .icon:hover {
        font-size: 1.75em;
    }
}

@media (min-width: 800px) {
    
    main {
        width: 50vw;
        height: 20vw;
    }

    h1 {
        font-size: 5vw;
    }
    
    #tagline {
        font-size: 2vw;
    }

    main a {
        height: 8vw;
        width: 8vw;
        padding: 0.5vw;
        margin: 0.5vw;
        font-size: 2vw;
    }

    main .icon {
        font-size: 4vw;
    }
}
